/* ---------------------------------------------------------------------------------------- RESET */

* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size:100%; }
html, body { min-height: 100%; height: 100%; }
ul { list-style: none; padding: 0; margin: 0; }
a:link, a:visited { text-decoration: none; color: #000; }
a > * { display: inline-block; }

/* ---------------------------------------------------------------------------------------- */

.is-hidden { visibility: hidden; }
.is-gone { display: none !important; }
.disabled,
.disabled > svg { cursor: default !important; }

.max-width-page { max-width: 1100px; margin: auto; }

/* ---------------------------------------------------------------------------------------- */

a, p, input {
	color: #343A40;
}

.dark, .dark a, .dark p, .dark input {
	color: #B3B3B3;
}

body.purple { --accent: #47347F; }
body.red { --accent: #A93953; }
body.orange { --accent: #F37335; }
body.green { --accent: #2A7B60;  }

/* ---------------------------------------------------------------------------------------- */

body.animate,
body.animate .site-header,
body.animate .sticky-top {
	transition: all 300ms ease;
	-o-transition: all 300ms ease;
  	-ms-transition: all 300ms ease;
  	-moz-transition: all 300ms ease;
  	-webkit-transition: all 300ms ease;
}

/* ---------------------------------------------------------------------------------------- */

body {
	background-color: #F6F8FA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: lighter;
}

body > div:last-of-type { margin-bottom: 20px; }
body:after { content: "\00a0\00a0"; } /* required for iOS Safari */

body.dark {
	background-color: #212529;
}

/*---------------------------------------------------------------------------------------- TABLE */

.table {
	width: 100%;
	cursor: default;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 8px 8px;
	border-bottom: solid 1px #E6E6E6;
	font-size: .875rem;
	/*font-size: rem;*/
}
.dark .row { border-bottom-color: #373D42; }


.row.header {
	font-weight: 500;
	background-color: #F1F1F1;
	border-radius: 2px;
}
.dark .row.header { background-color: #343A40; }

.row span { padding-right: 10px; }
.row span:nth-child(1) { text-align: right; min-width: 42px; }
.row span:nth-child(2) { flex: 3; }
.row span:nth-child(3) { flex: 2; }
.row span:nth-child(4) { flex: 2; }
.row span:nth-child(5) { flex: 1; }

/* bottom */

.table-bottom {
	display: flex;
	flex-flow: row;
	width: 100%;
	font-size: .875rem;
	cursor: default;
	padding-right: 20px;
	align-items: center;
	margin-top: 20px;
}

.table-bottom .page-count {
	font-weight: 500;
	user-select: none;
}

.table-bottom svg { margin-top: 1px; cursor: pointer; }
.dark .table-bottom svg path { stroke: #B3B3B3; }
.table-bottom .icon-prev { margin-left: auto; padding-right: 6px; box-sizing: initial; }
.table-bottom .icon-next { padding-left: 6px; box-sizing: initial; }
/* disabled  */
.table-bottom.disabled svg path { stroke: #CCCCCC; }
.dark .table-bottom.disabled svg path { stroke: #343A40; }
/* hover */
.row:hover:not(.header) { background-color: #F6F6F6; }
.dark .row:hover:not(.header) { background-color: #272B30; }

/*---------------------------------------------------------------------------------------- STICKY TOP */

.sticky-top {
	height: 36px;
	width: 100%;
	background-color: #1A1A1A;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 10;
}

.sticky-top p {
	color: #CCCCCC;
}

.sticky-top.is-hidden {
	visibility: initial;
	top: -36px;
}

/*---------------------------------------------------------------------------------------- TOP PORGRESS BAR */

.top-progress-bar-wrapper {
	position: fixed;
	top: 0;
	z-index: 11;
	width: 100%;
	height: 4px;
}

.top-progress-bar-wrapper div {
	height: 100%;
	width: 0%;
	background-color: #1971C2;
	transition: width 1s linear;
}

/*---------------------------------------------------------------------------------------- DARK MODE TOGGLE */
/* https://codepen.io/tatimblin/pen/RMjaqb */

.darkmode-toggle {
	width: 18px;
	height: 18px;
	overflow: hidden;
	cursor: pointer;
}

.darkmode-toggle .icon-wrapper svg { width: 18px; height: 18px; }

.darkmode-toggle .icon-wrapper.sun svg path { stroke: #C29C12; fill: #C29C12; }

.darkmode-toggle .icon-wrapper.moon svg path { stroke: #283445; fill: #283445; }

.darkmode-toggle .icon-wrapper { transition: all 200ms 300ms ease; }

.darkmode-toggle .icon-wrapper:last-child { transform: translatey(-18px); }

.darkmode-toggle .active { transition-delay: 100ms; }

.darkmode-toggle .active:first-child { transform: translatey(18px); }

.darkmode-toggle .active:last-child { transform: translatey(0); }

.darkmode-toggle .active.no-animation,
.darkmode-toggle .icon-wrapper.no-animation {
	/*transition: none;*/
	transition-delay: 0;
}

/*---------------------------------------------------------------------------------------- MODAL */

/* main containers */

.modal-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.dismiss-area {
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal {  }

.share-playlist-modal {
	border-radius: 3px;
	background-color: #fff;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

/* playlist elements */

.modal-playlist-wrapper {
	display: flex;
	flex-flow: row;
	align-items: center;
	width: 100%;
	padding: 20px;
	border-bottom: solid 1px #dee2e6;
}

.modal-playlist-image {
	width: 78px;
	height: 78px;
	margin-right: 10px;
}

.modal-playlist-name { font-weight: 600; color: #343A40; }
.modal-playlist-description { font-size: .875rem; color: #808080; margin-top: 4px; font-weight: 200; }
.dark .modal-playlist-name { color: #343A40;  }
.dark .modal-playlist-description { color: #808080; }

.modal .description { color: #343A40; padding: 0 20px; text-align: center; font-weight: 200; }
.dark .modal .description { color: #343A40; }

/* buttons */

.btn-text {
	cursor: pointer;
	font-weight: 400;
	font-size: .875rem;
	color: var(--accent);
}

.btn-curved {
	cursor: pointer;
	padding: 8px 30px;
	border-radius: 27px;
	font-weight: 400;
	font-size: .875rem;
	color: #fff;
	background-color: var(--accent);
}

.dark .btn-text { color: var(--accent); }
.dark .btn-curved { color: #fff; }

/* spacing */

.share-playlist-modal > p:nth-of-type(1) { margin-bottom: 30px; margin-top: 16px; }
.share-playlist-modal > p:nth-of-type(2) { margin-bottom: 12px; }
.share-playlist-modal > p:nth-of-type(3) { margin-bottom: 20px; }

/* dismiss text */

.dismiss-text {
	cursor: default;
	margin-top: 16px;
	text-transform: uppercase;
	font-size: .625rem;
	font-weight: 500;
	color: #fff;
}

.dark .dismiss-text { color: #fff; }

/*---------------------------------------------------------------------------------------- MODAL ANIMATIONS */

/* set */
.modal-wrapper { visibility: hidden; opacity: 0; }
.modal { transform: translateY(30%); }

/* show */
.modal-wrapper.show { visibility: visible; opacity: 1; transition: visibility 0s linear 0s, opacity 300ms; } /*fade in*/
.modal-wrapper.show .modal { animation: slideUp .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; } /*slide up*/
/* hide */
.modal-wrapper.hide { visibility: hidden; opacity: 0; transition: visibility 0s linear 300ms, opacity 300ms; } /*fade out*/
.modal-wrapper.hide .modal { animation: slideDown .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; } /*slide down*/

/* keyframes */
@keyframes slideUp {
	0% { transform: translateY(30%); }
	100% { transform: translateY(0%); }
}

@keyframes slideDown {
	0% { transform: translateY(0%); }
	100% { transform: translateY(30%); }
}


/*---------------------------------------------------------------------------------------- IMAGE GRID */

.item-list {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
}

/* ITEM */

.item {
	vertical-align: top;
	text-align: left;
}

/* IMAGE */

.item .image-wrapper {
	width: 78px;
	height: 78px;
	background: #C4C4C4;
	border-radius: 4px;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}

/* TEXT */

.item p,
.item svg {
	display: inline-block;
	vertical-align: middle;
}

.item p {
	font-size: .875rem;
	line-height: 1rem;
	letter-spacing: -.016em;
	font-weight: 400;
	padding-right: 4px;
}

.item svg  {
	fill: #999999;
	margin-right: 4px;
	margin-top: -2.5px;
}

.item.is-public svg { display: none; }

/* LIST TYPES */

/*---------------------------------------------------------------- large */

.item-list.large {
	gap: 20px;
}

.item-list.large .item { 
	flex: 1;
	width: 100%;
	min-width: 140px;
}

.item-list.large .item .image-wrapper { 
	width: 100%;
	padding-top: 100%;
	margin-bottom: 8px;
	position: relative;
}

.item-list.large .item img { 
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.item-list.large .item p {  }

.item-list.large .item.is-filler { height: 0; }
.item-list.large .item.is-filler .image-wrapper { height: 0; padding: 0; }


/*---------------------------------------------------------------- medium */

.item-list.medium {
	gap: 10px;
}

.item-list.medium .item {
  flex: 1;
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;

  min-width: 250px;
  max-height: 78px;
  background-color: #F1F1F1;
  border-radius: 4px;
}

.item-list.medium .item .image-wrapper {
	width: 78px;
	height: 78px;
	margin-right: 10px;
}

.item-list.medium .item p { 
	font-size: 1rem;
	padding-right: 10px;
}

.dark .item-list.medium .item { 
	color: #B3B3B3;
	background-color: #272B30;
}

/* HOVER */

.item:hover { cursor: pointer; }

/* opacity */
.item-list.large .item:hover .image-wrapper::before,
.item-list.medium .item:hover::before { opacity: 1; }

/* define shadow */
.item-list.large .item .image-wrapper::before,
.item-list.medium .item::before {
	content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%; height: 100%;
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(33, 33, 33, 0.35);
  transition: opacity 0.3s ease-in-out;
}

/* use lighter shadow on medium */
.item-list.medium .item::before { box-shadow: 0 2px 10px rgba(33, 33, 33, 0.15); } 

/* dark mode */
.dark .item-list.large .item .image-wrapper::before { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8); }
.dark .item-list.medium .item::before { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }

/*---------------------------------------------------------------------------------------- PAGE THINGS */

.page-bar {
	display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px 20px;
  font-size: .875rem;
	font-weight: 500;
  background-color: #F1F1F1;
  border-bottom: solid 1px #E6E6E6;
  border-radius: 2px;
}

.dark .page-bar { background-color: #343a40; border-bottom: solid 1px #373D42; }

.page-bar > * {
	display: inline-block;
    vertical-align: middle;
}

.page-bar svg { margin-right: 4px; }

.page-bar .filter {
	cursor: pointer;
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-right: 16px;
}

.page-bar .view { 
	cursor: pointer;
}

.page-bar .view:nth-of-type(1) { margin-left: auto; }

.filter { color: #CCCCCC; }
.filter svg { fill: #CCCCCC; }
.filter-public svg path { fill: #CCCCCC; }
.is-active.filter { color: #808080; }
.is-active.filter svg { fill: #808080; }
.is-active.filter-public svg path { fill: #808080; }

.view path { fill: #CCCCCC; }
.is-active.view path { fill: #808080; }

.dark .filter { color: #808080; }
.dark .filter svg { fill: #808080; }
.dark .filter-public svg path { fill: #808080; }
.dark .is-active.filter { color: #CCCCCC; }
.dark .is-active.filter svg { fill: #CCCCCC; }
.dark .is-active.filter-public svg path { fill: #CCCCCC; }

.dark .view path { fill: #808080; }
.dark .is-active.view path { fill: #CCCCCC; }