/* ---------------------------------------------------------------------------------------- RESET */

* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size:100%; }
html, body { min-height: 100%; height: 100%; }
ul { list-style: none; padding: 0; margin: 0; }
a:link, a:visited { text-decoration: none; color: #000; }
a > * { display: inline-block; }

/* ---------------------------------------------------------------------------------------- TEXT & COLORS */

a, p, input {
	color: #343A40;
}

.dark, .dark a, .dark p, .dark input {
	color: #B3B3B3;
}

/* ACCENT COLORS */

body.purple { --accent: #47347F; }
body.red { --accent: #A93953; }
body.orange { --accent: #F37335; }
body.green { --accent: #2A7B60;  }

/* ---------------------------------------------------------------------------------------- BODY */

body {
	background-color: #F6F8FA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: lighter;
}

body > div:last-of-type { margin-bottom: 20px; }
body:after { content: "\00a0\00a0"; } /* required for iOS Safari */

body.dark {
	background-color: #212529;
}

/* ---------------------------------------------------------------------------------------- SITE HEADER */

.site-header-wrapper > div:nth-child(1) { display: none; }

.site-header {
	height: 36px;
	width: 100%;
	background-color: #F5F5F5;
	border-bottom: solid 1px #ECECEC;
	vertical-align: middle;
	font-size: 0.875rem;
}

.site-header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.dark .site-header {
	background-color: #212529;
	border-bottom-color: #495057;
}