:root {
	/* SIZES */
	--spacing-top: 100px;
	--spacing-top-nav: 100px;
	--spacing-top-content: 100px;
	--spacing-main-left: 50px;
	--nav-icon-size: 18px;
	--tile-image-size: 150px;

	/* COLORS */
	--color-green: #267D68;
	--color-green-pale: #F4FCFB;
	--nav-highlight: var(--color-green);
	--nav-highlight-bg: var(--color-green-pale);
}

/* RESET */

body, p { margin: 0; padding: 0; }

body { 
	/*background: #000;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul { list-style: none; padding: 0; margin: 0; }

a:link, a:visited { text-decoration: none; color: #000; }

/*---------------------------------------------------------------------------------------- GENERIC */

.margin-auto {
	margin: auto;
}

.is-hidden {
	visibility: hidden;
}

.btn-spotify {
	color: #fff;
	padding: 11px 32px 9px;
	background-color: #1db954;
	min-width: 160px;
    border-radius: 500px;
	font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
	text-transform: uppercase;
	border: none;
	-webkit-appearance: none;
}


.btn-spotify:hover {
	background-color: #1ed760;
}

.btn-spotify:focus,
.btn-spotify:active {
	background-color: #1aa34a;
	outline: none;
	box-shadow: none;
}

/*---------------------------------------------------------------------------------------- BODY */

body { }

.body-wrapper {
	max-width: 1500px;
	display: flex;
}

.body-wrapper > * {
	vertical-align: top;
	display: inline-block;
	padding-top: var(--spacing-top);
}

.nav-wrapper {
	min-width: 150px;
}

main {
	padding-left: 50px;
}

.header {}

.content {
	margin-top: 30px;
}

.side-wrapper {}

/*---------------------------------------------------------------------------------------- NAVIGATION */

.nav-wrapper nav + * {
	margin-top: 20px;
}

.nav-wrapper li a,
.nav-wrapper li a > * { vertical-align: middle; }

.nav-wrapper li a {
	padding: 10px 10px;
	min-width: 130px;
	box-sizing: border-box;
	display: inline-block;
}

.nav-wrapper li a svg { }

.nav-wrapper li a span {
	margin-left: 10px;
	font-size: 14px;
}

/* helpers */

.nav-wrapper li .compact {
	padding: 5px 10px;
}

.nav-wrapper li .margin-icon {
	margin-left: var(--nav-icon-size);
}

/* hover */

.nav-wrapper li.is-active a,
.nav-wrapper li a:hover {
	color: var(--nav-highlight);
}

.nav-wrapper li a:hover:not(.compact) {
	background: var(--nav-highlight-bg);
	border-radius: 20px;
}

.nav-wrapper li.is-active a path,
.nav-wrapper li a:hover path {
	stroke: var(--nav-highlight);
}

/*---------------------------------------------------------------------------------------- PROFILE */

.user > * {
	display: inline-block;
	vertical-align: middle;
}

.user img {
	object-fit: cover;
  	border-radius: 50%;
	height: 42px;
	width: 42px;
	margin-right: 15px;
}

.user p {
	font-weight: 500;
	font-size: 18px;
	cursor: default;
}

/*---------------------------------------------------------------------------------------- ITEM TILE */

.item-tile {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

.item-tile .img-wrapper {
	width: var(--tile-image-size);
	height: var(--tile-image-size);
	background: #EFEFEF;
	border-radius: 2px;
	margin-bottom: 3px;
	position: relative;
}

.item-tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}

.item-tile p {
	width: var(--tile-image-size);
	padding: 4px 4px 4px 0;
	box-sizing: border-box;
}

.item-tile svg  {
	fill: #CBCBCB;
	margin-right: 4px;
	margin-top: -2.5px;
}

.item-tile p,
.item-tile svg {
	display: inline-block;
	vertical-align: middle;
}

.item-tile.is-public svg { display: none; }

/* hover */

.item-tile:hover {
	cursor: pointer;
}

.item-tile:hover div::before { opacity: 1; }

.item-tile div::before {
	content: '';
  	position: absolute;
  	z-index: -1;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	border-radius: 5px;
  	box-shadow: 0 2px 10px rgba(33, 33, 33, 0.5);
  	transition: opacity 0.3s ease-in-out;
}

/*---------------------------------------------------------------------------------------- TOP TRACKS */

.header.section-top-tracks p {
	display: inline-block;
	margin-right: 15px;
}

table { border-spacing: 0; }

table th {
	text-align: left;
	border-bottom: 1px solid #CCC;
}

table tr:nth-child(2) td { padding-top: 5px; } /* table header padding */

table td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
}

table td:nth-child(2) { /* bigger title column */
	min-width: 200px;
}

table tr:hover td {
	background: #F7F7F7;
}

/*---------------------------------------------------------------------------------------- FULL PAGE COVER */

.full-page-cover {
	top: 0;
	left: 0;
	z-index: 10;
	position: absolute;
	display: flex;
    justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #000;
}

.full-page-cover > div {
	display: flex;
	flex-flow: wrap column;
    justify-content: center;
	align-items: center;
}

.full-page-cover p {
	color: #fff;
	margin-bottom: 10px;
}