/* ---------------------------------------------------------------------------------------- GENERIC CLASSES */

.is-hidden { visibility: hidden; }
.is-gone { display: none !important; }
.disabled,
.disabled > svg { cursor: default !important; }

.max-width-page { max-width: 1100px; margin: auto; }

/* ---------------------------------------------------------------------------------------- DARK MODE TOGGLE */
/* https://codepen.io/tatimblin/pen/RMjaqb */

.darkmode-toggle {
	width: 18px;
	height: 18px;
	overflow: hidden;
	cursor: pointer;
}

.darkmode-toggle .icon-wrapper svg { width: 18px; height: 18px; }

.darkmode-toggle .icon-wrapper.sun svg path { stroke: #C29C12; fill: #C29C12; }

.darkmode-toggle .icon-wrapper.moon svg path { stroke: #283445; fill: #283445; }

.darkmode-toggle .icon-wrapper { transition: all 200ms 300ms ease; }

.darkmode-toggle .icon-wrapper:last-child { transform: translatey(-18px); }

.darkmode-toggle .active { transition-delay: 100ms; }

.darkmode-toggle .active:first-child { transform: translatey(18px); }

.darkmode-toggle .active:last-child { transform: translatey(0); }

/* we use a no animation class to prevent playing an animation when page loads with the saved theme */
.darkmode-toggle .active.no-animation,
.darkmode-toggle .icon-wrapper.no-animation { transition-delay: 0; }

/* we enable dark mode color transition after page is fully loaded, therefore initial color change is not animated and instant */
body.animate,
body.animate .site-header,
body.animate .sticky-top {
	transition: all 300ms ease;
	-o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

/* ---------------------------------------------------------------------------------------- STICKY TOP */

.sticky-top {
	height: 36px;
	width: 100%;
	background-color: #1A1A1A;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 10;
}

.sticky-top p {
	color: #CCCCCC;
}

.sticky-top.is-hidden {
	visibility: initial;
	top: -36px;
}

/* ---------------------------------------------------------------------------------------- TOP PORGRESS BAR */

.top-progress-bar-wrapper {
	position: fixed;
	top: 0;
	z-index: 11;
	width: 100%;
	height: 4px;
}

.top-progress-bar-wrapper div {
	height: 100%;
	width: 0%;
	background-color: #1971C2;
	transition: width 1s linear;
}

/* ---------------------------------------------------------------------------------------- MODAL */

/* main containers */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.modal__dismiss-area {
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal__box { 
	display: flex;
	flex-flow: column wrap;
	overflow: hidden;
	border-radius: 3px;
	background-color: #fff;
}

.modal__stack {
	flex-wrap: nowrap;
	position: relative;
	transition: all .5s ease-out;
	justify-content: center;
	align-items: center;
}

/* dismiss text */

.modal__dismiss-area__text {
	cursor: default;
	margin-top: 16px;
	text-transform: uppercase;
	font-size: .625rem;
	font-weight: 500;
	color: #fff;
}

.dark .modal__dismiss-area__text { color: #fff; }

/* ---------------------------------------------------------------------------------------- MODAL ANIMATIONS */

/* set */
.modal { visibility: hidden; opacity: 0; }
.modal__box { transform: translateY(30%); }

/* show */
.modal.show { visibility: visible; opacity: 1; transition: visibility 0s linear 0s, opacity 300ms; } /*fade in*/
.modal.show .modal__box { animation: slideUp .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; } /*slide up*/
/* hide */
.modal.hide { visibility: hidden; opacity: 0; transition: visibility 0s linear 300ms, opacity 300ms; } /*fade out*/
.modal.hide .modal__box { animation: slideDown .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; } /*slide down*/

/* keyframes */
@keyframes slideUp {
	0% { transform: translateY(30%); }
	100% { transform: translateY(0%); }
}

@keyframes slideDown {
	0% { transform: translateY(0%); }
	100% { transform: translateY(30%); }
}

/* ---------------------------------------------------------------------------------------- TABLE */

.table {
	width: 100%;
	cursor: default;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 8px 8px;
	border-bottom: solid 1px #E6E6E6;
	font-size: .875rem;
	/*font-size: rem;*/
}
.dark .row { border-bottom-color: #373D42; }

.row.header {
	font-weight: 500;
	background-color: #F1F1F1;
	border-radius: 2px;
}
.dark .row.header { background-color: #343A40; }

.row span { padding-right: 10px; }
.row span:nth-child(1) { text-align: right; min-width: 42px; }
.row span:nth-child(2) { flex: 3; }
.row span:nth-child(3) { flex: 2; }
.row span:nth-child(4) { flex: 2; }
.row span:nth-child(5) { flex: 1; }

/* bottom */

.table-bottom {
	display: flex;
	flex-flow: row;
	width: 100%;
	font-size: .875rem;
	cursor: default;
	padding-right: 20px;
	align-items: center;
	margin-top: 20px;
}

.table-bottom .page-count {
	font-weight: 500;
	user-select: none;
}

.table-bottom svg { margin-top: 1px; cursor: pointer; }
.dark .table-bottom svg path { stroke: #B3B3B3; }
.table-bottom .icon-prev { margin-left: auto; padding-right: 6px; box-sizing: initial; }
.table-bottom .icon-next { padding-left: 6px; box-sizing: initial; }
/* disabled  */
.table-bottom.disabled svg path { stroke: #CCCCCC; }
.dark .table-bottom.disabled svg path { stroke: #343A40; }
/* hover */
.row:hover:not(.header) { background-color: #F6F6F6; }
.dark .row:hover:not(.header) { background-color: #272B30; }

/* ---------------------------------------------------------------------------------------- IMAGE GRID */

/* ---------------------------------------------------------------- LIST */

.item-list {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
}

/* ---------------------------------------------------------------- IMAGE */

.item {
	vertical-align: top;
	text-align: left;
}

/* ---------------------------------------------------------------- IMAGE */

.item .image-wrapper {
	width: 78px;
	height: 78px;
	background: #C4C4C4;
	border-radius: 4px;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}

/* ---------------------------------------------------------------- TEXT (& ICON) */

.item p,
.item svg {
	display: inline-block;
	vertical-align: middle;
}

.item p {
	font-size: .875rem;
	line-height: 1rem;
	letter-spacing: -.016em;
	font-weight: 400;
	padding-right: 4px;
}

.item svg  {
	fill: #999999;
	margin-right: 4px;
	margin-top: -2.5px;
}

.item.is-public svg { display: none; }

/* ---------------------------------------------------------------- FILLER */
/*is used so the last elements can have proper scaling */

.item-list .item.is-filler { height: 0 !important; }
.item-list .item.is-filler .image-wrapper { height: 0 !important; padding: 0 !important; }

/* ---------------------------------------------------------------- TYPE: LARGE */

.item-list.large {
	gap: 20px;
}

.item-list.large .item { 
	flex: 1;
	width: 100%;
	min-width: 140px;
}

.item-list.large .item .image-wrapper { 
	width: 100%;
	padding-top: 100%;
	margin-bottom: 8px;
	position: relative;
}

.item-list.large .item img { 
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.item-list.large .item p {  }

/* ---------------------------------------------------------------- TYPE: MEDIUM */

.item-list.medium {
	gap: 10px;
}

.item-list.medium .item {
  flex: 1;
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;

  min-width: 250px;
  max-height: 78px;
  background-color: #F1F1F1;
  border-radius: 4px;
}

.item-list.medium .item .image-wrapper {
	width: 78px;
	height: 78px;
	margin-right: 10px;
}

.item-list.medium .item p { 
	font-size: 1rem;
	padding-right: 10px;
}

.dark .item-list.medium .item { 
	color: #B3B3B3;
	background-color: #272B30;
}

/* ---------------------------------------------------------------- HOVER */

.item:hover { cursor: pointer; }

/* opacity */
.item-list.large .item:hover .image-wrapper::before,
.item-list.medium .item:hover::before { opacity: 1; }

/* define shadow */
.item-list.large .item .image-wrapper::before,
.item-list.medium .item::before {
	content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%; height: 100%;
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(33, 33, 33, 0.35);
  transition: opacity 0.3s ease-in-out;
}

/* use lighter shadow on medium */
.item-list.medium .item::before { box-shadow: 0 2px 10px rgba(33, 33, 33, 0.15); } 

/* dark mode */
.dark .item-list.large .item .image-wrapper::before { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8); }
.dark .item-list.medium .item::before { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }

/* ---------------------------------------------------------------------------------------- BUTTONS */

.button-filled {
	padding: 6px 18px;
	font-size: .875rem;
	color: #FFFFFF;
	background-color: var(--accent);
	cursor: pointer;
	border-radius: 2px;
}

.button-filled.disabled { color: #343A40; background-color: #E5E5E5;}
.dark .button-filled.disabled { color: #B3B3B3; background-color: #373D42 }
.dark .button-filled { color: #EDEBF4; }

.btn-text {
	cursor: pointer;
	font-weight: 400;
	font-size: .875rem;
	color: var(--accent);
}

.btn-curved {
	cursor: pointer;
	padding: 8px 30px;
	border-radius: 27px;
	font-weight: 400;
	font-size: .875rem;
	text-align: center;
	color: #fff;
	background-color: var(--accent);
}

.dark .btn-text { color: var(--accent); }
.dark .btn-curved { color: #fff; }

/* ---------------------------------------------------------------- ICON */

.btn-icon {
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.btn-icon svg {
	margin-right: 14px;
}

.btn-icon svg path { stroke: var(--accent); }

.btn-icon span {
	color: var(--accent);
	font-weight: 400;
	font-size: 1rem;
}