/* ---------------------------------------------------------------------------------------- BACKGROUND COLORS */

.modal__box,
.modal__stack__one,
.modal__stack__two { background-color: var(--bg-1); }
/* a '.modal__white'  class can be created to have a white modal, but handling text color will be necessary as well. */
/* this feature was not cruical, therefore it got deleted */

/* ---------------------------------------------------------------------------------------- CONTENT WRAPPERS (.modal__box) */
/* handle modal content alignment, background color, padding etc. */

.modal__stack__one,
.modal__stack__two {
	position: absolute;
	white-space: nowrap;
	top: 0;
}

.modal__pl-context .wrapper {
	display: flex;
	flex-flow: column wrap;
	min-width: 18rem;
	padding: 16px 20px 20px 20px;
	gap: 20px;
}

.modal__pl-edit,
.modal__share .wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 20px;
	min-width: 18rem;
}

.modal__new-rule {
	padding: 20px;
}

/* ---------------------------------------------------------------------------------------- GENERAL */

/* -------------------------------- TEXT / TITLE */

.modal__title {
	font-weight: 600;
}

/* -------------------------------- INPUT TEXT */

.modal__input-text {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	resize: none;
}

/* -------------------------------- BUTTONS */

/* !! add more modal ids here, if their button layout is center aligned */
.modal__share .btn-text {
	margin-bottom: 12px;
}

.modal__align-buttons-right {
    display: flex;
    align-items: center;
    width: 100%;
}

.modal__align-buttons-right > *:nth-child(1) {
    margin-left: auto;
    margin-right: 16px;
}

.modal__align-buttons-right > *:nth-child(2) {
    width: 46%;
}

/* ---------------------------------------------------------------------------------------- PLAYLIST HEADER */

.modal__playlist-header {
	display: flex;
	flex-flow: row;
	align-items: center;
	width: 100%;
	padding: 20px;
	border-bottom: solid 1px var(--bg-5);
}

.modal__playlist-header img {
	width: 78px;
	height: 78px;
	margin-right: 10px;
}

.modal__playlist-header .primary { 
	color: var(--text-color-1);
	font-size: var(--text-size-2);
	font-weight: 600;
}

.modal__playlist-header .secondary { 
	color: var(--text-color-2);
	font-size: var(--text-size-1);
	font-weight: 200;
	margin-top: 4px;
}

/* ---------------------------------------------------------------------------------------- MODAL PLAYLIST EDIT */

/* -------------------------------- playlist edit (text / iamge) */

/* image wrapper */
.modal__pl-edit__top {
	cursor: pointer;
	width: 110px;
	height: 110px;
	margin: 0 auto;
	position: relative;
}

/* image */
.modal__pl-edit__image {
	width: 100%;
	height: 100%;
}

/* image upload text */
.modal__pl-edit__upload-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.5rem;
	font-size: var(--text-size--2);
	color: var(--text-color-1);
	background-color: var(--bg-5);
	letter-spacing: 0.06rem;
}

/* -------------------------------- playlist edit (toggle) */

.modal__pl-edit .toggle-wrapper {
	width: 100%;
	margin-bottom: 30px;
	margin-top: 10px;
}

/* ---------------------------------------------------------------------------------------- MODAL PLAYLIST AUTOMATION */

/*  */
.modal__p-auto {
	width: 100%;
	height: 100%;
	display: block;
	overflow: auto;
	border-radius: 0;
}

.modal__new-rule label {
	margin-left: 6px;
}

.rule-playlist-line {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.rule-playlist-line img {
	width: 28px; height: 28px;
}

.rule-playlist-line div {
	margin-left: 8px;
	display: inline-block;
}

.rule-playlist-line div p:nth-child(1) {
	font-weight: 500;
	text-transform: lowercase;
}