body, p { margin: 0; padding: 0; }
body { 
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 80px;
}

body > div {
	display: inline-block;
	padding-right: 50px;
}

body > div > button {
	display: block;
	width: 200px;
	margin-bottom: 2px;
}

.btn_spotify {
	/*color: #1db954;*/
	/*font-weight: bold;*/
	/*background: #1db954;*/
}

.margin_bottom { margin-bottom: 10px; }