 /* ---------------------------------------------------------------------------------------- INDEX ICONS */

.index-icons ul {
	font-size: 0;
	display: flex;
	flex-flow: row wrap;
	gap: 15px;
}

.index-icons li a {
	display: flex;
	height: 150px;
	width: 150px;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
}

.index-icons li a span {
	display: flex;
	align-items: flex-end;
	width: 100%;
	font-size: var(--text-size-1);
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	height: 48px;
}

.index-icons li:nth-child(1) a { color: #EDEBF4; }
.index-icons li:nth-child(2) a { color: #F8DAE1; }
.index-icons li:nth-child(3) a { color: #FFF8F3; }
.index-icons li:nth-child(4) a { color: #E7F3F1; }
.index-icons li:nth-child(5) a { color: #E3E3E4; }
.index-icons li:nth-child(6) a { color: #EBF6FF; }
.index-icons li:nth-child(7) a { color: #E3E3E4; }

.index-icons li:nth-child(1) svg path { stroke: #EDEBF4; }
.index-icons li:nth-child(2) svg path { stroke: #F8DAE1; }
.index-icons li:nth-child(3) svg path { stroke: #FFF8F3; }
.index-icons li:nth-child(4) svg path { stroke: #E7F3F1; }
.index-icons li:nth-child(5) svg path { stroke: #E3E3E4; }
.index-icons li:nth-child(6) svg path { stroke: #DBF0FF; }
.index-icons li:nth-child(7) svg path { stroke: #E3E3E4; }

.index-icons li:nth-child(1) a { background: rgb(171,161,204); background: linear-gradient(135deg, rgba(171,161,204,1) 0%, rgba(71,52,127,1) 100%); }
.index-icons li:nth-child(2) a { background: rgb(234,147,167); background: linear-gradient(135deg, rgba(234,147,167,1) 0%, rgba(169,57,83,1) 100%); }
.index-icons li:nth-child(3) a { background: rgb(252,194,163); background: linear-gradient(135deg, rgba(252,194,163,1) 0%, rgba(243,115,53,1) 100%); }
.index-icons li:nth-child(4) a { background: rgb(134,186,174); background: linear-gradient(135deg, rgba(134,186,174,1) 0%, rgba(42,123,96,1) 100%); }
.index-icons li:nth-child(5) a { background: rgb(156,156,159); background: linear-gradient(135deg, rgba(156,156,159,1) 0%, rgba(73,77,88,1) 100%); }
.index-icons li:nth-child(6) a { background: rgb(156,156,159); background: linear-gradient(135deg, rgba(138,182,214,1) 0%, rgba(0,97,168,1) 100%); }
.index-icons li:nth-child(7) a { background: rgb(156,156,159); background: linear-gradient(135deg, rgba(156,156,159,1) 0%, rgba(73,77,88,1) 100%); }

/* ---------------------------------------------------------------------------------------- INDEX */

.index-top-wrapper {
	display: flex;
	flex-flow: row wrap;
	margin-top: 30px;
	margin-bottom: 25px;
	gap: 25px;
}

.index-user,
.index-player {
	box-sizing: content-box; /* necessary for borderbottom*/
	background-color: var(--bg-3);
	border-bottom: solid 1px var(--bg-5);
}

/* ---------------- index user  */

.index-user .left { display: flex; align-items: center; }
.index-user .bottom { display: flex; flex: 1; align-items: center; }

.index-user {
	flex: 3;
	height: 78px;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	padding: 0 24px;
	border-radius: 4px;
}

.index-user img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.index-user .icon-spotify { margin-right: 10px; }

.index-user .left p { font-weight: 400; } /* username */

.index-user .stats { margin-left: 15px; }
.index-user .stats:nth-child(1) { margin-left: 40px; }

.index-user .stats p { /*user track / playlist counter */
	/*font-size: var(--text-size-1);*/
	display: inline-block;
}

.index-user .stats p:nth-child(2) { color: var(--text-color-2); margin-left: 5px; }

.index-user .right { margin-left: auto; } 
.index-user .icon-logout { cursor: pointer; }

/* ---------------- index login  */

.index-user:not(.show-login) .login { display: none; }
.index-user.show-login .user { display: none; }
.index-user.show-login { cursor: pointer; }

/* ---------------- index player  */

.index-player {
	flex: 2;
	display: flex;
	height: 78px;
	align-items: center;
	border-radius: 4px;
	padding-right: 24px;
}

.index-player img {
	height: 78px;
	width: 78px;
	border-radius: 4px 0 0px 4px;
	margin-right: 10px;
}

.index-player p { white-space: pre; }
/*.index-player p { color: #333333; }*/
.index-player p span { color: var(--text-color-2); }
/*.dark .index-player p { color: #B3B3B3 }*/
/*.dark .index-player p span { color: #808080; }*/

/* text animation related */

.index-player .text-wrapper {
	flex: 1;
	min-height: 1.1rem;
	overflow: hidden;
	position: relative;
	margin-right: 10px;
}

.index-player .text-wrapper p {
	position: absolute;
	height: 100%;
	line-height: 1;
}

.index-player .text-wrapper p.animate {
	animation: backAndForth 3s linear infinite alternate;
}

@keyframes backAndForth {
	0% { transform: translateX(0%) }
  	100% { transform: translateX(-20%) }
}

/* icons */

.index-player .icon-player-refresh,
.index-player .icon-player-lyrics { cursor: pointer; }
/*.index-player .icon-player-refresh { margin-left: auto; }*/ /* no need due to flex:1 on text-wrapper */
.index-player .icon-player-lyrics { margin-left: 15px; }

/* placeholder */

.index-player {
	position: relative;
}

.index-player .placeholder {
	position: absolute;
	left: 0;
	top: 0;
	height: 78px;
	width: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px 0 0px 4px;
	background-color: var(--bg-img);
}

.index-player .placeholder svg path {
	fill: var(--text-color-2);
}

.index-player .placeholder:not(.show) { display: none; }

/* ---------------------------------------------------------------------------------------- PAGE TOP */

.page-top-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
	user-select: none;
	align-items: center;
}

.page-title {
	font-size: var(--text-size-4);
	font-weight: 500;
}


/* ---------------------------------------------------------------------------------------- PAGE BAR */

.page-bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 8px 20px;
	font-weight: 500;
  	background-color: var(--bg-3);
  	border-bottom: solid 1px var(--bg-5);
  	border-radius: 2px;
}

/*.dark .page-bar { background-color: #343a40; border-bottom: solid 1px #373D42; }*/
/*.dark .page-bar { background-color: var(--black-bg-google-2); border-bottom: solid 1px #373D42; }*/

/* ---------------------------------------------------------------- ITEMS / ICONS */

.page-bar > * {
	display: inline-block;
    vertical-align: middle;
}

.page-bar svg { margin-right: 4px; }

.page-bar .filter {
	cursor: pointer;
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-right: 16px;
}

.page-bar .view { 
	cursor: pointer;
}

.page-bar .view:nth-of-type(1) { margin-left: auto; }

/* ---------------------------------------------------------------- COLORS */


.view path,
.filter svg,
.filter-public svg path { fill: var(--text-color-5); }
.filter { color: var(--text-color-4); }

.is-active.view path,
.is-active.filter svg,
.is-active.filter-public svg path { fill: var(--text-color-2); }
.is-active.filter { color: var(--text-color-1); }


/*.dark .filter { color: #808080; }
.dark .filter svg { fill: #808080; }
.dark .filter-public svg path { fill: #808080; }
.dark .is-active.filter { color: #CCCCCC; }
.dark .is-active.filter svg { fill: #CCCCCC; }
.dark .is-active.filter-public svg path { fill: #CCCCCC; }

.dark .view path { fill: #808080; }
.dark .is-active.view path { fill: #CCCCCC; }*/

/* ---------------------------------------------------------------------------------------- TOP ARTIST / TRACKS */

.page-title__p-top {
	font-size: var(--text-size-4);
	font-weight: 300;
}

.page-title__p-top .swap-text__child {
	font-weight: 500;
}

/* ---------------------------------------------------------------------------------------- TAB */

.tab {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.tab__item {
	cursor: pointer;
	text-align: center;
	padding: 6px 14px;
}

.tab__item.is-active {
	font-weight: 400;
	background-color: var(--accent-lighter);
	color: var(--accent);
	border-radius: 2rem;
}

/* ---------------------------------------------------------------------------------------- SWAP TEXT !! TODO move this to general */

/* !! When changing swap-text size, if the text contains 'qpygj,' pay attention to .wrapper height, and child pagging. */
.swap-text {
	cursor: pointer;
	user-select: none;
	/* display flex is not necessary for the trick, usefull when a second child is present */
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
}

.swap-text__wrapper {
	display: flex;
	flex-flow: column nowrap;
	height: 1.515rem;
	overflow: hidden;
}

.swap-text__child {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

.swap-text__child-2 { margin-right: 6px; }

.swap-text__child,
.swap-text__child-2 {
	padding-bottom: 0.22rem;
}

.swap-text__child svg { 
	margin-left: 4px;
	margin-bottom: -1px;
}

.swap-text__child svg path { stroke: var(--text-color-2); }

.swap-text.up .swap-text__child:nth-child(1) { animation: up .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
.swap-text.up .swap-text__child:nth-child(2) { animation: up .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
.swap-text.down .swap-text__child:nth-child(1) { animation: down .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
.swap-text.down .swap-text__child:nth-child(2) { animation: down .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

@keyframes up	{ 	0% { transform: translateY(0%); 	} 100% { transform: translateY(-100%); 	} }
@keyframes down { 	0% { transform: translateY(-100%); 	} 100% { transform: translateY(0%);	} } 

/* ---------------------------------------------------------------------------------------- PAGE AUTOMATION */

.p-auto__player {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.p-auto__player__image {
	margin-left: 20px;
	margin-right: 10px;
	border-radius: 100%;
	height: 44px;
	width: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.p-auto__player__image2 {
	margin-left: 40px;
	margin-right: 10px;
	border-radius: 4px;
	height: 44px;
	width: 44px;
}

.p-auto__player__image img { border-radius: 100%; }
.p-auto__player__image2 img { border-radius: 4px; }

.p-auto__player img {
	height: 100%;
	/*width: 100%;*/ /* disabling this to prevent it from shrinking */
}

.p-auto__player svg { flex-shrink: 0; } 

.p-auto__player p { white-space: break-spaces; }

/* ---------------------------------------------------------------- ITEM ADD */

.item-list .item.p-auto__item-add .image-wrapper {
	position: relative;
	background: initial;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23B3B3B3' stroke-width='4' stroke-dasharray='12%2c 22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.item-list .item.p-auto__item-add svg {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/* rules to avoid inheriting styles from other item types */
.item-list .item.p-auto__item-add p { margin-left: 0; }
.item-list.multi .item.p-auto__item-add .image-wrapper { width: 102px; height: 102px; margin-bottom: 8px; }

/* disable hover shadow for "add" item */
.item-list.large .item.p-auto__item-add:hover .image-wrapper::before { opacity: 0; }

/* ---------------------------------------------------------------------------------------- PAGE SEARCH */



.search__input__wrapper {
	height: 44px;
	margin-bottom: 20px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row;
}

#search__input {
	border-radius: 4px 0px 0px 4px;
	padding: 0 20px;
	width: 99%;
	height: 100%;
}


#search__input:focus {
	outline: solid 1px var(--blue);
	outline-offset: -1px;
}

#search__button {
	cursor: pointer;
	width: 66px;
	height: 44px;
	background-color: var(--bg-5);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 4px 4px 0px;
}

#search__button path { stroke: var(--text-color-4); }

.search__helper__buttons:nth-child(2) { margin-left: 40px; }
.search__helper__buttons:nth-child(2) { margin-right: 10px; }
.search__helper__buttons:nth-child(3) { margin-right: 10px; }

.search__helper__buttons {
	cursor: pointer;
	margin-right: 20px;
	text-transform: lowercase;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0.3px;
}

/* table */

.primary {
	color: #B3B3B3;
	font-weight: 700;
}

.secondary {
	color: #999999;
}

.table .secondary img {
	display: none;
}

.table img {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
}

.searchtable .row span { padding-right: 10px; }
.searchtable .row span:nth-child(1) { text-align: right; min-width: 42px; }
.searchtable .row span:nth-child(3) { flex: 3; }
.searchtable .row span:nth-child(4) { flex: 2; }
.searchtable .row span:nth-child(5) { flex: 2; }
.searchtable .row span:nth-child(6) { flex: 1; }

@media only screen and (max-width: 600px) { /* SMALL */

	.searchtable .row > span:nth-child(3) { display: initial; }
	.searchtable .row > span:nth-child(4),
	.searchtable .row > span:nth-child(5),
	.searchtable .row > span:nth-child(6) { display: none; }
}

@media only screen and (max-width: 768px) {  /* MEDIUM */

	.searchtable .row > span:nth-child(4) { display: initial; }
	.searchtable .row > span:nth-child(5),
	.searchtable .row > span:nth-child(6) { display: none; }
}