/* ---------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1100px) { /* LARGE */

	.max-width-page { padding: 0 20px; }

	.site-header-wrapper > div:nth-child(1) { display: initial; }
}

/* ---------------------------------------------------------------------------------------- INDEX */

/* ---------------------------------------------------------------- MEDIUM */

@media only screen and (max-width: 768px) {

	.index-icons li { flex: 1; min-width: 100px; }

	.index-icons li a {
		width: 100%;
		height: 100px;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		border-radius: 4px;
	}

	.index-icons li a span:nth-child(1) { display: none; }
	.index-icons li a svg { margin: 10px 10px 0 auto; }
	.index-icons li a svg { height: 18px; width: 18px; }
}

/* ---------------------------------------------------------------- MEDIUM++ */

@media only screen and (max-width: 900px) {

	.index-top-wrapper { gap: 15px; margin-bottom: 20px; }

	.index-user, .index-player { width: 100%; min-width: 300px; }
	.index-user { height: initial; padding-top: 15px; padding-bottom: 20px; }
	.index-user.show-login { padding-top: 15px; padding-bottom: 15px; }

	.index-user .left { order: 1; width: 90%; }
	.index-user .right { order: 2; }
	.index-user .bottom {
		order: 3;
		width: 100%;
		margin-top: 30px;
		justify-content: space-around;
	}

	.index-user .stats,
	.index-user .stats:nth-child(1) { margin-left: 0; } /* can't reset margin on this elm. without directly referring */

	.dark .index-user .border { background-color: #495057; }
	.index-user .border {
		position: relative;
		top: 53%;
		width: 100%;
		height: 1px;
		background-color: #dee2e6;	
	}
}

/* ---------------------------------------------------------------- LARGE */

@media only screen and (max-width: 1100px) { /* LARGE */

	.index-user .stats p { display: block; text-align: center; }
	.index-user .stats p:nth-child(2) { margin: 0; }
}


/* ---------------------------------------------------------------------------------------- TABLE */

@media only screen and (max-width: 600px) { /* SMALl */
	.modal { margin: 0 26px; }

	.row > span:nth-child(3),
	.row > span:nth-child(4),
	.row > span:nth-child(5) { display: none; }
}

@media only screen and (max-width: 768px) {  /* MEDIUM */
	.row > span:nth-child(4),
	.row > span:nth-child(5) { display: none; }
}

/* ---------------------------------------------------------------------------------------- OTHER */

@media only screen and (max-width: 560px) { /* SMALl- */

	.item-list.medium .item { background-color:  initial; }
	.dark .item-list.medium .item { background-color:  initial; }
}